body {
	font-family: Roboto, Arial, sans-serif;
	background: #ECEFF1;
	color: rgba(0,0,0,0.87);
}

a {
	color: rgb(3,155,229);
}

#message {
	max-width: 400px;
	margin: 40px auto;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
	border-radius: 2px;
	background: white;
	padding: 16px 24px;
	user-select: none;
	cursor: default;
}

#message h1 {
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	margin: 0 0 16px;
}

#message p {
	font-weight: 300;
	line-height: 150%;
}

#message ul {
	list-style: none;
	margin: 16px 0 0;
	padding: 0;
	text-align: center;
	position: relative;
}

#message li a {
	display: inline-block;
	padding: 8px;
	font-size: 14px;
}

#startItem {
	z-index: 1;
}

#linkerItem {
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}

#linker {
	cursor: pointer;
}

#start {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	background: rgb(3,155,229);
	color: white;
	border: 1px solid rgb(3,155,229);
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	cursor: pointer;
}

#start.disabled {
	background: #9E9E9E;
	border: 1px solid #9E9E9E;
	pointer-events: none;
	cursor: default;
}

#start.noclick {
	z-index: -1;
	pointer-events: none;
	cursor: pointer;
}

#linkerItem.noclick {
	z-index: -1;
	pointer-events: none;
}